.header {
    -fx-background-color: #00000000;
    -fx-padding: 10px;
    -fx-spacing: 20px;
}

.header .button {
    -fx-background-color: #00000000;
    -fx-text-fill: white;
    -fx-font-size: 20px; /* Adjust the font size as needed */
    -fx-font-family: "Britannic Bold"; /* Adjust the font family as needed */

}

.header .button:hover {
    -fx-background-color: #FFFFFF1A;
    -fx-text-fill: #fff
}
.header .button:selected {
    -fx-border-color: white; /* Change border color when button is selected */
}
.header .button:focused {
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: white;
}
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #00000000;
}
.destination{
    -fx-background-color:  linear-gradient(to top,#676767,transparent);
}
