
.white-background{
    -fx-background-color: #fff;
}

.sideBarButtons{
    -fx-background-color: rgba(0,0,0,0);
}

.sideBarButtons:hover{
    -fx-background-color: #dad9d9;
}

.sideBarButtons:pressed{
    -fx-background-color: #b9b7b7;
}



.round-layout{
    -fx-border-radius: 50;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color:transparent;
}

.hotels{
    -fx-border-radius: 0 10px 0 0;
    -fx-background-color: #e7e7e7;

}


.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.blue-bg{
    -fx-background-color: #032cbd;
    -fx-background-radius:8px;
}
