.grey-background{
    -fx-background-color: #1321cc;
    -fx-border-color: black;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.white-background{
    -fx-background-color: #fff;
    -fx-border-color: black;

}

.button{
    -fx-background-color: #35e838;
    -fx-border-radius: 4px;

}

.button:hover{
    -fx-background-color: #1dc021;
}

.button:pressed{
    -fx-background-color: #0b8d0d;
}

.button-upload{
    -fx-background-color: #1321cc;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.ticketVolFront{
    -fx-background-color: #d0d0d0;
    -fx-border-radius: 2px;
    -fx-border-color: black;
    -fx-background-radius: 2px;
}
.Selectionner{
    -fx-background-color: #151e93;
    -fx-background-radius: 4px;
    -fx-text-fill: white; /* Set text color to white */
    -fx-font-weight: bold italic; /* Make text bold */
    -fx-font-family: "Comic Sans MS"; /* Set font to Comic Sans */

}
.Selectionner:hover{
    -fx-background-color: #1321cc;
}

.Selectionner:pressed{
    -fx-background-color: #0e60e8;
}

.Label{
    -fx-background-color: #fff;
    -fx-background-radius: 4px;
    -fx-border-color: #1c1c1e;
    -fx-border-radius: 4px;
}

.Lesvols{
    -fx-background-color: #1321cc;
    -fx-border-color: black;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.paiement{
    -fx-background-color: #e7e7e7;
    -fx-background-radius: 4px;
    -fx-border-color: black;
    -fx-border-radius: 4px;
}

.confirmer{
    -fx-background-color: #19d725;
    -fx-background-radius: 4px;
    -fx-text-fill: white; /* Set text color to white */
    -fx-font-weight: bold italic; /* Make text bold */
    -fx-font-family: "Comic Sans MS"; /* Set font to Comic Sans */

}
.confirmer:hover{
    -fx-background-color: #0abb1b;
}

.confirmer:pressed{
    -fx-background-color: #14961f;
}

.Reserver{
    -fx-background-color: #c20000;
    -fx-background-radius: 4px;
    -fx-text-fill: white; /* Set text color to white */
    -fx-font-weight: bold italic; /* Make text bold */
    -fx-font-family: "Comic Sans MS"; /* Set font to Comic Sans */
}

.Reserver:hover{
    -fx-background-color: #d73f3f;
}

.Reserver:pressed{
    -fx-background-color: #a60000;
}

.text-field {
    -fx-background-color: linear-gradient(to bottom, rgba(244, 244, 244, 0), #c7f3ff);
    -fx-background-radius: 6px;
    -fx-border-color: #d5d5d5;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-effect: dropshadow(gaussian, rgb(232, 232, 232), 5, 0.2, 0, 1);
}

.text-field:hover {
    -fx-background-color: linear-gradient(to bottom, #bffafa, #ebffff);
}

.text-field:disabled {
    -fx-opacity: 0.7;
}

.confirmerP{
    -fx-background-color: #1321cc;
    -fx-background-radius: 3px;
    -fx-text-fill: white; /* Set text color to white */
    -fx-font-weight: bold italic; /* Make text bold */
    -fx-font-family: "Comic Sans MS"; /* Set font to Comic Sans */

}
.confirmerP:hover{
    -fx-background-color: #2647e3;
}

.confirmerP:pressed{
    -fx-background-color: #151e93;
}

.SearchBar{
    -fx-background-color: #dae1ff;
    -fx-background-radius: 10px;
    -fx-text-fill: white; /* Set text color to white */
    -fx-font-weight: bold italic; /* Make text bold */
    -fx-font-family: "Comic Sans MS"; /* Set font to Comic Sans */
    -fx-border-radius: 10px;

}
.SearchBar:hover{
    -fx-background-color: #d8d8d9;
}

.SortBar{
    -fx-background-color: rgb(230, 236, 255);
    -fx-background-radius: 10px;
    -fx-text-fill: white; /* Set text color to white */
    -fx-font-weight: bold italic; /* Make text bold */
    -fx-font-family: "Comic Sans MS"; /* Set font to Comic Sans */
    -fx-border-radius: 10px;

}
.SortBar:hover{
    -fx-background-color: #d8d8d9;
}

.list-view {
    -fx-background-color: #ce1313;
    -fx-padding: 5px;
}

.list-cell {
    -fx-background-color: white, #ececec;
    -fx-background-insets: 0, 1;
    -fx-padding: 10px;
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.list-cell:filled:hover {
    -fx-background-color: #b0e0e6;
}

.image-view {
    -fx-padding: 10;
    -fx-margin: 10;
}
.image-view {
    -fx-fit-to-width: true;
    -fx-preserve-ratio: true;
    -fx-max-width: 150px;
    -fx-max-height: 100px;
}

.label {
    -fx-text-alignment: center;
}





